In [ ]:
!pip install deep_translator

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: deep_translator in /usr/local/lib/python3.10/dist-packages (1.10.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from deep_translator) (4.11.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.10/dist-packages (from deep_translator) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep_translator) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->deep_translator) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->deep_translator) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->deep_translator) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->deep_translator) (3.4)

In [ ]:
from deep_translator import GoogleTranslator
import pandas as pd

translator = GoogleTranslator(source='en', target='ru')

In [ ]:
!wget https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/dev.jsonl 
!wget https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/test.jsonl
!wget https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/train.jsonl

--2023-05-17 22:31:19--  https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/dev.jsonl
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/dev.jsonl [following]
--2023-05-17 22:31:19--  https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/dev.jsonl
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘dev.jsonl’

dev.jsonl               [  <=>               ]   1.79M  4.21MB/s    in 0.4s

2023-05-17 22:31:20 (4.21 MB/s) - ‘dev.jsonl’ saved [1882158]

--2023-05-17 22:31:20--  https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/test.jsonl
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/test.jsonl [following]
--2023-05-17 22:31:20--  https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/test.jsonl
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘test.jsonl’

test.jsonl              [  <=>               ]   1.74M  4.04MB/s    in 0.4s

2023-05-17 22:31:22 (4.04 MB/s) - ‘test.jsonl’ saved [1828360]

--2023-05-17 22:31:22--  https://github.com/njjiang/factuality_bert/tree/main/glue_data/UDS_IH2/train.jsonl
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/train.jsonl [following]
--2023-05-17 22:31:22--  https://github.com/njjiang/factuality_bert/blob/main/glue_data/UDS_IH2/train.jsonl
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘train.jsonl’

train.jsonl             [ <=>                ] 137.41K   743KB/s    in 0.2s

2023-05-17 22:31:22 (743 KB/s) - ‘train.jsonl’ saved [140710]

In [ ]:
df1 = pd.read_json('dev.jsonl', lines=True)
df2 = pd.read_json('test.jsonl', lines=True)
df3 = pd.read_json('train.jsonl', lines=True)

df = pd.concat([df1, df2, df3])

In [ ]:
df

,text,targets,file_idx,idx
0,From the AP comes this story :,"[{'span1': [3, 4], 'label': 3.0, 'span_text': ...",0,0
1,President Bush on Tuesday nominated two indivi...,"[{'span1': [4, 5], 'label': 2.625, 'span_text'...",1,1
2,Bush nominated Jennifer M. Anderson for a 15 -...,"[{'span1': [1, 2], 'label': 2.625, 'span_text'...",2,2
3,Bush also nominated A. Noel Anketell Kramer fo...,"[{'span1': [2, 3], 'label': 2.625, 'span_text'...",4,3
4,The sheikh in wheel - chair has been attacked ...,"[{'span1': [8, 9], 'label': 2.625, 'span_text'...",5,4
...,...,...,...,...
9093,"Of course , they could n't call him either to ...","[{'span1': [6, 7], 'label': -2.25, 'span_text'...",12538,9093
9094,On Monday I called and again it was a big to -...,"[{'span1': [3, 4], 'label': 3.0, 'span_text': ...",12539,9094
9095,Supposedly they will be holding it for me this...,"[{'span1': [4, 5], 'label': -3.0, 'span_text':...",12540,9095
9096,The employees at this Sear's are completely ap...,"[{'span1': [12, 13], 'label': 0.0, 'span_text'...",12541,9096
9097,I will never return there again ( and now have...,"[{'span1': [3, 4], 'label': -3.0, 'span_text':...",12542,9097

In [ ]:
def translate(original):
  return translator.translate(original, dest='ru', src='en')

df['text'] = df['text'].apply(translate)

In [ ]:
df

,text,targets,file_idx,idx
0,Из AP приходит эта история:,"[{'span1': [2, 3], 'label': 3.0, 'span_text': ...",0,0
1,Президент Буш во вторник назначил двух человек...,"[{'span1': [4, 5], 'label': 2.625, 'span_text'...",1,1
2,Буш назначил Дженнифер М. Андерсон на 15-летни...,"[{'span1': [1, 2], 'label': 2.625, 'span_text'...",2,2
3,Буш также назначил А. Ноэля Анкетелла Крамера ...,"[{'span1': [2, 3], 'label': 2.625, 'span_text'...",4,3
4,Шейх в инвалидной коляске был атакован бомбой ...,"[{'span1': [8, 9], 'label': 2.625, 'span_text'...",5,4
...,...,...,...,...
11558,"Конечно, они не могли позвонить ему и спросить...","[{'span1': [6, 7], 'label': -2.25, 'span_text'...",12538,9093
11559,"В понедельник я позвонил, и снова было очень с...","[{'span1': [3, 4], 'label': 3.0, 'span_text': ...",12539,9094
11560,"Предположительно, они проведут его для меня се...","[{'span1': [4, 5], 'label': -3.0, 'span_text':...",12540,9095
11561,"Сотрудники этого Sear's совершенно апатичны, и...","[{'span1': [12, 13], 'label': 0.0, 'span_text'...",12541,9096
11562,Я никогда больше туда не вернусь (и теперь ест...,"[{'span1': [3, 4], 'label': -3.0, 'span_text':...",12542,9097

In [ ]:
df.to_json('translated.json', orient='records', lines=True, force_ascii=False)

In [ ]:
from google.colab import files
files.download('translated.json')

In [ ]:
df = pd.read_json('translated.jsonl', lines=True)

In [ ]:
df

,text,targets,file_idx,idx
0,Из AP приходит эта история:,"[{'span1': [2, 3], 'label': 3.0, 'span_text': ...",0,0
1,Президент Буш во вторник назначил двух человек...,"[{'span1': None, 'label': 2.625, 'span_text': ...",1,1
2,Буш назначил Дженнифер М. Андерсон на 15-летни...,"[{'span1': None, 'label': 2.625, 'span_text': ...",2,2
3,Буш также назначил А. Ноэля Анкетелла Крамера ...,"[{'span1': None, 'label': 2.625, 'span_text': ...",4,3
4,Шейх в инвалидной коляске был атакован бомбой ...,"[{'span1': [5, 6], 'label': 2.625, 'span_text'...",5,4
...,...,...,...,...
3294,"Они хотят, чтобы их идентифицировали как «хрис...","[{'span1': [1, 2], 'label': 3.0, 'span_text': ...",1004,841
3295,Нам нужно быть более «строгими» в отношении то...,"[{'span1': None, 'label': 0.75, 'span_text': '...",1005,842
3296,"Смотрите на них такими, какие они есть, а не н...","[{'span1': [7, 8], 'label': -1.5, 'span_text':...",1006,843
3297,Почти все авангардные художественные движения ...,"[{'span1': [15, 16], 'label': 3.0, 'span_text'...",1008,844
3298,Адольф Гитлер даже устроил выставку «дегенерат...,"[{'span1': None, 'label': 2.25, 'span_text': '...",1009,845

In [ ]:
df.to_csv('translated.csv', index=False, encoding='utf-8-sig')

In [ ]:
from deep_translator.validate import NotValidPayload
import re 
import difflib


def has_cyrillic(text):
  return bool(re.search('[а-яА-Я]', text))

def has_numbers(inputString):
    return any(char.isdigit() for char in inputString)

def translate(original):
  return translator.translate(original, dest='ru', src='en')

def tr_roots(row):
  if has_cyrillic(row[1][0]['span_text'][0]):
    return row[1]

  else:
    try:
      for span in row[1]:
        target = translate(span['span_text'])
        sentence = nlp(row[0])
        sentence_list = [w.text for w in sentence]
        word = difflib.get_close_matches(target, sentence_list, n=1)

        if word:
          index = [i for i,x in enumerate(sentence_list) if x == word[0]][0]
          span1 = [index, index + 1]
          span['span1'], span['span_text'] = span1, word[0]

        else:
          span['span1'] = None
          
    except (NotValidPayload, TypeError):
      pass

    return row[1]


df['targets'] = df.apply(tr_roots, axis=1)

In [ ]:
df

,text,targets,file_idx,idx
0,Из AP приходит эта история:,"[{'span1': [2, 3], 'label': 3.0, 'span_text': ...",0,0
1,Президент Буш во вторник назначил двух человек...,"[{'span1': None, 'label': 2.625, 'span_text': ...",1,1
2,Буш назначил Дженнифер М. Андерсон на 15-летни...,"[{'span1': None, 'label': 2.625, 'span_text': ...",2,2
3,Буш также назначил А. Ноэля Анкетелла Крамера ...,"[{'span1': None, 'label': 2.625, 'span_text': ...",4,3
4,Шейх в инвалидной коляске был атакован бомбой ...,"[{'span1': [5, 6], 'label': 2.625, 'span_text'...",5,4
...,...,...,...,...
11558,"Конечно, они не могли позвонить ему и спросить...","[{'span1': None, 'label': -2.25, 'span_text': ...",12538,9093
11559,"В понедельник я позвонил, и снова было очень с...","[{'span1': None, 'label': 3.0, 'span_text': 'c...",12539,9094
11560,"Предположительно, они проведут его для меня се...","[{'span1': None, 'label': -3.0, 'span_text': '...",12540,9095
11561,"Сотрудники этого Sear's совершенно апатичны, и...","[{'span1': None, 'label': 0.0, 'span_text': 's...",12541,9096
11562,Я никогда больше туда не вернусь (и теперь ест...,"[{'span1': None, 'label': -3.0, 'span_text': '...",12542,9097

In [ ]:
!pip install spacy

In [ ]:
!python -m spacy download ru_core_news_lg

In [ ]:
import spacy
nlp = spacy.load("ru_core_news_lg")
import ru_core_news_lg
nlp = ru_core_news_lg.load()
doc = nlp('Впрочем, создавалось впечатление, что принимающая сторона хотела не столько себя показать, сколько сама посмотреть на "этих загадочных русских ".')
print([(w.text, w.pos_, w.dep_) for w in doc])

[('Впрочем', 'ADV', 'parataxis'), (',', 'PUNCT', 'punct'), ('создавалось', 'VERB', 'ROOT'), ('впечатление', 'NOUN', 'nsubj'), (',', 'PUNCT', 'punct'), ('что', 'SCONJ', 'mark'), ('принимающая', 'VERB', 'amod'), ('сторона', 'NOUN', 'nsubj'), ('хотела', 'VERB', 'acl'), ('не', 'PART', 'advmod'), ('столько', 'ADV', 'nummod:gov'), ('себя', 'PRON', 'obj'), ('показать', 'VERB', 'xcomp'), (',', 'PUNCT', 'punct'), ('сколько', 'NUM', 'advmod'), ('сама', 'ADJ', 'acl'), ('посмотреть', 'VERB', 'xcomp'), ('на', 'ADP', 'case'), ('"', 'PUNCT', 'punct'), ('этих', 'DET', 'det'), ('загадочных', 'ADJ', 'amod'), ('русских', 'NOUN', 'obl'), ('"', 'PUNCT', 'punct'), ('.', 'PUNCT', 'punct')]

In [ ]:
def roots(row):
  id = 0
  roots = {}
  for token in nlp(row[0]):
    if token.dep_ == 'ROOT' or token.dep_ == 'ccomp':
      roots[token.text] = id 
    id += 1

  if len(roots) == len(row[1]):
    target_id = 0
    for root in roots:
      span = [roots[root], roots[root] + 1]
      row[1][target_id]['span1'], row[1][target_id]['span_text'] = span, root
      target_id += 1

  return row[1]

df['targets'] = df.apply(roots, axis=1)

In [ ]:
df.iloc[0]

text                              Из AP приходит эта история:
targets     [{'span1': [6, 7], 'label': 3.0, 'span_text': ...
file_idx                                                    0
idx                                                         0
Name: 0, dtype: object

In [ ]:
df

In [ ]:
targets = [{'span1': [4, 5], 'label': 2.625, 'span_text': 'nominated'},{'span1': [8, 9], 'label': -0.75, 'span_text': 'replace'},{'span1': [9, 10], 'label': 2.625, 'span_text': 'retiring'}]

In [ ]:
id = 0
for target in targets:
  span = [id, id + 1]
  target['span1'], target['span_text'] = span, 'word'
  print(target)

{'span1': [0, 1], 'label': 2.625, 'span_text': 'word'}
{'span1': [0, 1], 'label': -0.75, 'span_text': 'word'}
{'span1': [0, 1], 'label': 2.625, 'span_text': 'word'}